@keyframes christmasLights {
  0% {text-shadow: 2px 2px 3px red;}
  0% {border: 2px solid red;}
  50% {text-shadow: 2px 2px 3px green;}
  50% {border: 2px solid green;}
  100% {text-shadow: 2px 2px 3px red;}
  100% {border: 2px solid red;}
}

@keyframes snowflakeSpin {
  from {
      transform:rotate(0deg); top:0%;
  }
  to {
      transform:rotate(360deg); top: 100%;
  }
}

@keyframes snowflakeSpin2 {
  0% {transform:rotate(0deg); top:0%; opacity: 0; visibility:visible;}
  10% {transform:rotate(36deg);top: 10%; opacity: 0.5; visibility:visible;}
  100% {transform:rotate(360deg);top: 100%; opacity: 0.5; visibility:visible;}
}
/*text-shadow: 2px 2px 5px red;*/








.bigBoy {
  height: 100vh;
  width: 100vw;
}

body {
  background-image: url("wallpaper2.jpg");
}

div.format {
  display: block;
  height: 45%;
}

div.hint {
  background-color: #111c02;
  font-family: "Times New Roman", Times, serif;
  margin: auto;
  color: white;
  text-align: center;
  font-size: 20px;
  width: 33%;
  text-shadow: 2px 2px 5px red;
  border: 2px solid red;
  border-radius: 3px;
  animation-name: christmasLights;
  animation-duration: 3s;
  animation-iteration-count: infinite;
}














.snowflakeContainerDiv {
  display: flex;
  /*animation-name: snowflakeFade;
  animation-duration: 1000ms;*/
}

.snowflakeDiv1 {
  display: block;
  width: 50%;
  height: 400px;
}

.snowflakeDiv2 {
  flex-grow: 1;
  height: 400px;
}

.snowflake1 {
  position: absolute;
  height: 65px;
  left: 30%;
  visibility:hidden;
  opacity: 0.4;
  /*left: 23%;
  top: 60%;*/
  z-index: -1;
  animation-name: snowflakeSpin2;
  animation-duration: 11000ms;
  animation-delay: 5500ms;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}

.snowflake2 {
  position: absolute;
  height: 65px;
  visibility:hidden;
  opacity: 0.4;
  /*top:30%;
  left: 45%;*/
  z-index: -1;
  animation-name: snowflakeSpin2;
  animation-duration: 14200ms;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}

.snowflake3 {
  position: absolute;
  visibility:hidden;
  left: 90%;
  height: 65px;
  opacity: 0.4;
  /*top: 10%;
  */
  z-index: -1;
  animation-name: snowflakeSpin2;
  animation-duration: 13500ms;
  animation-delay: 8000ms;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}

.snowflake4 {
  position: absolute;
  height: 65px;
  visibility:hidden;
  opacity: 0.4;
  left: 69%;
  z-index: -1;
  animation-name: snowflakeSpin2;
  animation-duration: 14000ms;
  animation-timing-function: linear;
  animation-delay: 12000ms;
  animation-iteration-count: infinite;
}

.snowflake5 {
  position: absolute;
  height: 65px;
  visibility:hidden;
  opacity: 0.4;
  left: 43.5%;
  z-index: -1;
  animation-name: snowflakeSpin2;
  animation-duration: 15000ms;
  animation-timing-function: linear;
  animation-delay: 16000ms;
  animation-iteration-count: infinite;
}

.snowflake6 {
  position: absolute;
  height: 65px;
  visibility:hidden;
  opacity: 0.4;
  left: 10%;
  z-index: -1;
  animation-name: snowflakeSpin2;
  animation-duration: 14500ms;
  animation-timing-function: linear;
  animation-delay: 2000ms;
  animation-iteration-count: infinite;
}
